<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <%= @question.title %>
      </h4>
    </div>
    <div class = "panel-body">
      <h4><%= @question.description.html_safe %></h4>
    
    Asked by: <%= @question.user&.name %>
    <%= render partial: 'comments/comment', collection: @question.comments %>
    <%= form_for [@question, Comment.new] do |f| %>
      <%= f.hidden_field :quest_id,  value: params[:id] %>
      <%= f.hidden_field :user_id,  value: current_user&.id %>
      <%= f.text_area :content, placeholder: "Add a comment", class: "form-control" %><br/>
      <%= f.submit "Comment", class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>